/* Schriftart */
@font-face {
    font-family: 'raleway';
    src: url(./fonts/Raleway-VariableFont_wght.ttf);
}

/* Allgemein */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    background-color: #09222A;
}

body {
    font-family: 'raleway';
    font-size: 18px;
    font-weight: 400;
    min-height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h1 {
    font-size: 54px;
    font-weight: 700;
}

a {
    color: #627c84;
    text-decoration: none;
    transition: all 125ms ease-in-out;
}

a:hover {
    text-decoration: underline;
}

.content_max-width {
    padding: 0 144px;
    width: 1440px;
    max-width: 1440px;
    display: flex;
}

/* header */
.header {
    padding: 32px 0;
    background-color: #09222A;
    display: flex;
    justify-content: center;
}

.header__logoIcon {
    height: 41px;
}

/* main */
.main {
    padding: 80px 0;
    background-color: #06181e;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.main__content_max-width {
    flex-direction: column;
    align-items: center;
    gap: 96px;
}

.main__headline {
    text-align: center;
}

.main__imageSection {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
}

.main__images {
    height: 172px;
    width: 172px;
    object-fit: cover;
    border-radius: 16px;
    border: 3px solid #124658;
    transition: all 125ms ease-in-out;
}

.main__images:hover {
    cursor: pointer;
    scale: 1.1;
    border: 3px solid #6bc1e1;
}

.main__image-position100 {
    object-position: 100%;
}

.main__image-position80 {
    object-position: 80%;
}

.main__image-position15 {
    object-position: 15%;
}

/* dialog */
.main__dialog {
    margin: auto;
    padding: 40px;
    background-color: #09222A;
    border: none;
    border-radius: 40px;
}

dialog::backdrop {
    opacity: 0;
    background-color: black;
    transition: all 1s ease-in;
}

dialog.opened::backdrop {
    opacity: 0.5;
    transition: all 125ms ease-in;
}

.main__dialog_header {
    padding: 0 0 40px;
    color: white;
    display: flex;
    justify-content: space-between;
}

.main__dialog_headline {
    margin-top: 4px;
}

.main__dialog_icon {
    height: 40px;
    cursor: pointer;
}

.main__dialog_header_icon {
    padding: 4px;
    background-size: contain;
    fill: white;
    border-radius: 50%;
    transition: all 125ms ease-in-out;
}

.main__dialog_header_icon:hover {
    background-color: #124658;
}

.main__dialog_image {
    height: 50vh;
    width: 50vh;
    object-fit: cover;
}

.main__dialog_footer {
    padding: 40px 0 0;
    display: flex;
    justify-content: center;
    gap: 48px;
}

.main__dialog_image-number {
    margin-top: 18px;
    color: white;
}

.main__dialog_footer_icon {
    padding: 10px;
    height: 56px;
    fill: #fd5c4f;
    background-color: #1f1e23;
    border-radius: 50%;
    transition: all 125ms ease-in-out;
}

.main__dialog_footer_icon:hover {
    background-color: #362528;
}

/* footer */
.footer {
    padding: 24px 0;
    background-color: #09222A;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer__content_max-width {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 12px;
}

.footer__logoIcon {
    height: 41px;
}

.footer__Icon {
    height: 20px;
    fill: #627c84;
    vertical-align: bottom;
}

.footer__copyright {
    color: #627c84;
}

@media(max-width: 990px) {
    /* Allgemein */
    h1 {
        font-size: 48px;
    }

    /* header */
    .header {
        padding: 24px 0;
    }

    .header__logoIcon {
        height: 36px;
    }

    .content_max-width {
        padding: 0 112px;
    }

    /* main */
    .main {
        padding: 56px 0;
    }

    .main__content_max-width {
        gap: 72px;
    }

    .main__imageSection {
        gap: 24px;
        row-gap: 40px;
    }

    .main__images {
        height: 160px;
        width: 160px;
    }

    /* footer */
    .footer {
        padding: 20px 0;
    }

    .footer__logoIcon {
        height: 36px;
    }
}

@media(max-width: 600px) {
    /* Allgemein */
    body {
        font-size: 16px;
    }

    h1 {
        font-size: 36px;
    }

    .content_max-width {
        padding: 0 24px;
    }

    /* header */
    .header {
        padding: 24px 0;
    }

    .header__logoIcon {
        height: 32px;
    }

    /* main */
    .main {
        padding: 40px 0;
    }

    .main__content_max-width {
        gap: 56px;
    }

    .main__imageSection {
        gap: 20px;
        row-gap: 36px;
    }

    .main__images {
        height: 160px;
        width: 160px;
    }

    /* footer */
    .footer {
        padding: 20px 0;
    }

    .footer__content_max-width {
        gap: 10px;
    }

    .footer__logoIcon {
        height: 32px;
    }

    .footer__Icon {
        height: 18px;
    }
}

@media(max-width: 400px) {
    /* Allgemein */
    h1 {
        font-size: 28px;
    }

    .content_max-width {
        padding: 0 20px;
    }

    /* header */
    .header {
        padding: 20px 0;
    }

    .header__logoIcon {
        height: 28px;
    }

    /* main */
    .main {
        padding: 24px 0;
    }

    .main__content_max-width {
        gap: 36px;
    }

    .main__imageSection {
        gap: 20px;
        row-gap: 28px;
    }

    .main__images {
        height: calc(100vw - 40px);
        width: calc(100vw - 40px);
    }

    .main__images:hover {
        scale: 1.05;
    }

    /* footer */
    .footer__logoIcon {
        height: 28px;
    }
}